.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-hend {
  display: flex;
  justify-content: flex-end;
}

.flex-vend {
  display: flex;
  align-items: flex-end;
}

.flex-ham {
  display: flex;
  justify-content: center;
}

.flex-vam {
  display: flex;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
