/*
--------------------------------------------------------------------------------
Gilroy, sans-serif
light: 300
extrabold: 700
--------------------------------------------------------------------------------
*/

@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
