/*
--------------------------------------------------------------------------------
Colors
--------------------------------------------------------------------------------
*/
.red { color: $red; }


/*
--------------------------------------------------------------------------------
Text and alignments
--------------------------------------------------------------------------------
*/
.no-select    { @include no_select(); }
.no-pointer   { pointer-events: none; }

.truncate     { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nowrap       { white-space: nowrap; }

.relative     { position: relative; }
.visible      { overflow: visible; }

.block        { display: block; }
.ib           { display: inline-block; }
.hide         { display: none !important; }
.hide-mobile  { display: none; @include desktop { display: block; } }
.hide-desktop { display: block; @include desktop { display: none; } }
.fw           { width: 100%; }
.fh           { height: 100%; }
.left         { float: left; }
.right        { float: right; }
.center       { margin-left: 50%; transform: translateX(-50%); }
.clear:after  { content: ''; clear: both; display: block; }
.t-center     { text-align: center; }
.t-left       { text-align: left; }
.t-right      { text-align: right; }
.t-justify    { text-align: justify; }
.upper        { text-transform: uppercase; }
.cammel       { text-transform: capitalize; }
.no-upper     { text-transform: none; }
.lower        { text-transform: lowercase; }
.t-shadow     { text-shadow: 0 .1rem .1rem rgba($dark, .1); }

.h-flip { transform: rotateY(180deg); }
.v-flip { transform: rotateX(180deg); }

.fvw {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}


/*
--------------------------------------------------------------------------------
Widths
--------------------------------------------------------------------------------
*/
.w-25     { width: 25rem; }
.w-25p    { width: 25%; }
.maxw-25p { max-width: 25%; }
.minw-25p { min-width: 25%; }


/*
--------------------------------------------------------------------------------
Draggable elements
--------------------------------------------------------------------------------
*/
.drag {
  cursor: move;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}


/*
--------------------------------------------------------------------------------
Margins
--------------------------------------------------------------------------------
*/
.no-margin { margin: 0 !important; }
.mt-10 { margin-top: $size_10; }
.mt-20 { margin-top: $size_20; }
.mt-30 { margin-top: $size_30; }
.mt-50 { margin-top: $size_50; }
.mt-100 { margin-top: $size_100; }
.mr-10 { margin-right: $size_10; }
.mr-20 { margin-right: $size_20; }
.mr-30 { margin-right: $size_30; }
.mr-50 { margin-right: $size_50; }
.mr-100 { margin-right: $size_100; }
.mb-10 { margin-bottom: $size_10; }
.mb-20 { margin-bottom: $size_20; }
.mb-30 { margin-bottom: $size_30; }
.mb-50 { margin-bottom: $size_50; }
.mb-100 { margin-bottom: $size_100; }
.ml-10 { margin-left: $size_10; }
.ml-20 { margin-left: $size_20; }
.ml-30 { margin-left: $size_30; }
.ml-50 { margin-left: $size_50; }
.ml-100 { margin-left: $size_100; }

.mt-a { margin-top: auto; }
.ml-a { margin-left: auto; }


/*
--------------------------------------------------------------------------------
Paddings
--------------------------------------------------------------------------------
*/
.no-padding { padding: 0 !important; }
.p-10 { padding: $size_10; }


/*
--------------------------------------------------------------------------------
Opacity
--------------------------------------------------------------------------------
*/
.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
