/*
--------------------------------------------------------------------------------
Fonts auxiliar mixins
--------------------------------------------------------------------------------
*/
@mixin base_font($w:300, $s:1.8, $lh:null) {
  font-family: 'Gilroy', sans-serif;
  font-size: #{$s}rem;
  font-weight: $w;
  line-height: if($lh, #{$lh}rem, #{$s + .6}rem);
}

@mixin multiline_truncate($lh:1.8, $lines:1) {
  line-height: #{$lh}rem;
  margin-right: -$size_10;
  max-height: #{$lh * $lines}rem;
  overflow: hidden;
  padding-right: $size_10;
  position: relative;
  text-align: justify;

  &:before {
    content: '[...]';
    background-color: $white;
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: $size_30;
  }

  &:after {
    content: '';
    background-color: $white;
    height: #{$lh}rem;
    position: absolute;
    right: 0;
    width: $size_30;
  }
}

@mixin new_multiline_truncate($lh:1.8, $lines:1) {
  display: -webkit-box;
  max-height: #{$lh * $lines}rem;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}


/*
--------------------------------------------------------------------------------
Mobile first queries
--------------------------------------------------------------------------------
*/
@mixin phablet        { @media (min-width: 550px)  { @content; } }
@mixin tablet         { @media (min-width: 750px)  { @content; } }
@mixin desktop        { @media (min-width: 1000px) { @content; } }
@mixin under-desktop  { @media (max-width: 1000px) { @content; } }
@mixin hd             { @media (min-width: 1400px) { @content; } }
@mixin resolution($r) { @media (min-width: #{$r})  { @content; } }


/*
--------------------------------------------------------------------------------
Retina queries
--------------------------------------------------------------------------------
*/
@mixin retina($dp) { @media (-webkit-min-device-pixel-ratio: #{$dp}) { @content; } }


/*
--------------------------------------------------------------------------------
Grid Container
--------------------------------------------------------------------------------
*/
@mixin grid($columns, $rows, $column_gap:0, $row_gap:0) {
  display: grid;
  grid-column-gap: $column_gap;
  grid-row-gap: $row_gap;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}


/*
--------------------------------------------------------------------------------
Fix for mobile devices
--------------------------------------------------------------------------------
*/
@mixin remove_tap_highlight() {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin smooth_scroll() {
  -webkit-overflow-scrolling: touch;
}


/*
--------------------------------------------------------------------------------
Custom helpers
--------------------------------------------------------------------------------
*/
@mixin no_select() {
  user-select: none;
}

@mixin transition($duration:200) {
  transition: #{$duration}ms ease-in-out;
}

@mixin ease_out() {
  transition: 300ms cubic-bezier(0, 0, .3, .9);
}

@mixin translate($x, $y) {
  transform: translate($x, $y);
}
