/*
--------------------------------------------------------------------------------
COLORS - alphabetical order per group
--------------------------------------------------------------------------------
*/
$brand_red: #ff0000;

$black:     #000000;
$dark:      #1a0a2a;
$purple:    #7035fd;
$red:       #ff5577;
$white:     #ffffff;

$dark_60:   mix($dark, $white, 60);   // #766c7f
$dark_30:   mix($dark, $white, 30);   // #bab5bf
$purple_60: mix($purple, $white, 60); // #a986fe
