/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
// $bg_footer: url('../images/bg/bg_footer.svg');
// $bg_footer_mobile: url('../images/bg/bg_footer_mobile.svg');

$dropdown: url('../images/icons/icon_dropdown.svg');
$burgermenu: url('../images/icons/icon_burgermenu.svg');
$closemenu: url('../images/icons/icon_closemenu.svg');
$closemodal: url('../images/icons/icon_closemodal.svg');

$btn_accordion: url('../images/icons/btn_accordion.svg');
$btn_accordion_active: url('../images/icons/btn_accordion_active.svg');
// $logo: url('../images/logo.png');

/* arrows */
// $arrow_left: url('../images/icons/arrow_left.svg');
// $arrow_right: url('../images/icons/arrow_right.svg');
$icon_link: url('../images/icons/icon_link.svg');


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: 2rem;
$maxw: 120rem;


$size_10: 1rem;
$size_20: 2rem;
$size_30: 3rem;
$size_50: 5rem;
$size_100: 10rem;


/* mobile text sizes */
$font_small_mobile: 1.2;
$font_text_mobile:  1.4;
$font_large_mobile: 2.0;
$font_h4_mobile:    2.4;
$font_h3_mobile:    1.6;
$font_h2_mobile:    4.0;
$font_h1_mobile:    4.8;
/* desktop text sizes */
$font_small: 1.5;
$font_text:  2.0;
$font_large: 2.5;
$font_h4:    3.0;
$font_h3:    2.0;
$font_h2:    5.0;
$font_h1:    6.0;
