%wrapper {
  margin: 0 auto;
  max-width: $maxw;
  padding: 0 $size_20;
  position: relative;
  width: 100%;

  @include tablet {
    padding: 0 $size_30;
  }

  @include desktop {
    padding: 0 $size_50;
  }
}

.page-wrapper {
  overflow: hidden;
}

.layout-wrapper {
  @extend %wrapper;
  min-height: calc(100vh - #{$size_100*2});

  @include desktop {
    min-height: calc(100vh - #{$size_100});
  }
}

.content-wrapper {
  @extend %wrapper;
}

.text-wrapper {
  @extend %wrapper;
  max-width: 55rem;
  padding: 0;

  @include desktop {
    max-width: 65rem;
  }
}

.shorttext-wrapper {
  @extend %wrapper;
  max-width: 50rem;
  padding: 0;
}
