.accordion-group {
  padding: $size_10 0;

  &:last-child {
    margin-bottom: $size_50;
  }

  .title-wrapper {
    color: $purple;
    margin: $size_10 0 0;
  }
}


.accordion-wrapper {
  border-bottom: .1rem solid rgba($dark, .1);

  &.active {
    border-bottom-color: $purple;
  }

  .btn-accordion {
    @include base_font(300, $font_h3_mobile);
    color: $dark;
    padding: $size_10 0;
    width: 100%;

    button {
      @include base_font(300, $font_h3_mobile);
      background-color: transparent;
      color: $dark;
      display: block;
      outline: none;
      padding-left: $size_50/2;
      position: relative;
      text-align: left;
      white-space: normal;
      width: 100%;

      &:before {
        @include transition();
        content: '';
        background-image: $btn_accordion;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 1.2rem;
        height: 3rem;
        left: 0;
        position: absolute;
        top: calc(50% - 1.5rem);
        width: 2rem;
      }

      &:focus,
      &:hover {
        background-color: transparent;
        color: $dark;

        &:before {
          background-image: $btn_accordion_active;
        }
      }
    }

    &.active {
      button {
        color: $purple;

        &:before {
          background-image: $btn_accordion_active;
          transform: rotate(90deg);
        }
      }
    }
  }

  .panel-accordion {
    padding: 0 $size_50/2 $size_30/2 $size_50/2;

    &:not(.active) {
      height: 0;
      overflow: hidden;
      padding-bottom: 0;
    }
  }
}


/* responsive */
@include tablet {
  .accordion-group {
    padding: $size_20 0;
  }

  .accordion-wrapper {
    .btn-accordion {
      @include base_font(300, $font_h4_mobile);
      padding: $size_20 0;

      button {
        @include base_font(300, $font_h4_mobile);
        padding-left: $size_30;
      }
    }

    .panel-accordion {
      padding: 0 $size_30 $size_20 $size_30;
    }
  }
}


@include desktop {
  .accordion-group {
    padding: $size_30 0;

    &:last-child {
      margin-bottom: $size_100;
    }

    .title-wrapper {
      margin: $size_20 0;
    }
  }


  .accordion-wrapper {
    .btn-accordion {
      @include base_font(300, $font_h4);

      button {
        @include base_font(300, $font_h4);
        padding-left: $size_50;

        &:before {
          background-size: 1.6rem;
          width: 3rem;
        }
      }
    }

    .panel-accordion {
      padding: 0 $size_50 $size_30 $size_50;
    }
  }
}
