.booking-wrapper {
  margin: $size_20 auto $size_50;
  max-width: 50rem;
  width: 100%;

  h3 {
    @include base_font(600, $font_h3_mobile);
    margin-bottom: $size_20;
    text-align: center;
  }

  button, .button {
    margin: $size_20 auto 0;
    min-width: 20rem;
  }
}


.booking-success {
  background-color: $white;
  box-shadow: rgba($black, .25) 0 .3rem 2rem;
  height: calc(100% + #{$size_50*2});
  margin: #{-$size_50} 0 #{-$size_50} #{-$size_20};
  padding: $size_50 $size_20;
  width: calc(100% + #{$size_20*2});

  &.booking-wrapper {
    margin: $size_20 auto $size_50;
    width: 100%;
  }

  figure {
    margin: 0 auto $size_30;
    width: 8rem;
  }

  h2 {
    @include base_font(300, $font_large_mobile);
    margin: 0 auto;
    max-width: 40rem;
    text-align: center;
  }

  button, .button {
    margin: $size_50 auto 0;
  }
}


/* responsive */
@include tablet {
  .booking-wrapper {
    margin: $size_30 auto $size_100;

    h3 {
      margin-bottom: $size_30;
    }

    button, .button {
      margin: $size_30 auto 0;
    }
  }


  .booking-success {
    margin: #{-$size_50} 0 #{-$size_50} #{-$size_50};
    padding: $size_50;
    width: calc(100% + #{$size_50*2});

    &.booking-wrapper {
      margin: $size_30 auto $size_100;
      width: 100%;
    }
  }
}


@include desktop {
  .booking-wrapper {
    margin: $size_50 auto $size_100;

    h3 {
      @include base_font(600, $font_h3);
    }
  }

  .booking-success {
    &.booking-wrapper {
      margin: $size_50 auto $size_100;
    }

    figure {
      width: 10rem;
    }

    h2 {
      @include base_font(300, $font_h4);
      max-width: 100%;
    }
  }
}
