/* office gallery carousel */
.gallery-wrapper {
  position: relative;

  .slick-slider {
    button {
      min-height: 0;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    .slick-arrow {
      height: 2.6rem;
      width: 2.6rem;
      z-index: 1;

      &:before {
        content: '';
        background-size: cover;
        display: block;
        height: 2.6rem;
        opacity: 1;
        width: 2.6rem;
      }
    }

    .slick-prev {
      left: 2rem;

      &:before {
        // background-image: $arrow_left;
      }
    }

    .slick-next {
      right: 2rem;

      &:before {
        // background-image: $arrow_right;
      }
    }

    .slick-dots {
      bottom: $size_20;

      li {
        margin: 0;
      }

      button {
        &:before {
          content: '';
          background-color: $white;
          border-radius: 50%;
          height: .8rem;
          left: calc(50% - .4rem);
          opacity: 1;
          top: calc(50% - .4rem);
          width: .8rem;
        }
      }

      .slick-active {
        button:before {
          background-color: $purple;
        }
      }
    }
  }
}


/* responsive */
@include tablet {
  .gallery-wrapper {
    .slick-slider {
      .slick-arrow {
        height: 3.4rem;
        width: 3.4rem;

        &:before {
          height: 3.4rem;
          width: 3.4rem;
        }
      }

      .slick-prev {
        left: 3rem;
      }

      .slick-next {
        right: 3rem;
      }

      .slick-dots {
        bottom: $size_30;

        li {
          margin: 0 $size_10/2;
        }

        button {
          &:before {
            height: 1.2rem;
            left: calc(50% - .6rem);
            top: calc(50% - .6rem);
            width: 1.2rem;
          }
        }
      }
    }
  }
}


@include desktop {
  .gallery-wrapper {
    .slick-slider {
      .slick-arrow {
        height: 4rem;
        width: 4rem;

        &:before {
          height: 4rem;
          width: 4rem;
        }
      }

      .slick-prev {
        left: 4rem;
      }

      .slick-next {
        right: 4rem;
      }

      .slick-dots {
        bottom: $size_20*2;
      }
    }
  }
}
