.cookie-consent-wrapper {
  align-items: flex-start;
  background-color: $dark_30;
  bottom: 0;
  color: $dark;
  display: flex;
  flex-direction: column;
  font-size: 70%;
  justify-content: space-between;
  left: -50vw;
  margin: 0 auto;
  max-width: 140rem;
  padding: $size_20;
  position: fixed;
  right: -50vw;
  width: 100%;
  z-index: 9;

  &:before {
    content: '';
    background-color: $dark_30;
    height: 100%;
    left: -50vw;
    margin: 0 auto;
    pointer-events: none;
    position: absolute;
    right: -50vw;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  .btn-consent {
    margin: $size_20 auto 0;
    min-height: 3rem;
  }
}


/* responsive */
@include tablet {
  .cookie-consent-wrapper {
    flex-direction: row;
    font-size: 80%;
    padding: $size_20 $size_30;

    .btn-consent {
      margin: 0 0 0 $size_30;
    }
  }
}


@include desktop {
  .cookie-consent-wrapper {
    font-size: 90%;

    .btn-consent {
      margin: 0 0 0 $size_50;
      min-height: 4rem;
    }
  }
}
