/* cover backgrounds */
.cover-wrapper {
  &.bg-cover1,
  &.bg-cover2 {
    header:before {
      content: '';
      background-color: transparent;
      background-position: top right;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
      position: absolute;
      z-index: -1;
    }
  }

  &.bg-cover1 header {
    color: $white;
    padding-bottom: 10rem;

    &:before {
      // background-image: $bg_cover1;
      background-position: bottom center;
      background-size: cover;
      height: calc(100% + 3rem);
      left: -100rem;
      margin: 0 auto;
      right: -100rem;
      top: -3rem;
      width: 100rem;
    }

    .button {
      background-color: $dark;

      &:focus,
      &:hover {
        background-color: $purple;
      }
    }
  }

  &.bg-cover2 header:before {
    // background-image: $bg_cover2;
    height: 40rem;
    max-width: 80rem;
    right: -8rem;
    top: -3rem;
    width: 80%;
  }
}


/* responsive */
@include tablet {
  .cover-wrapper {
    &.bg-cover1 header:before {
      width: 150rem;
    }

    &.bg-cover2 header:before {
      right: -15rem;
      width: 70%;
    }
  }
}


@include desktop {
  .cover-wrapper {
    &.bg-cover1 header {
      padding-bottom: 12rem;

      &:before {
        height: 100%;
        top: 0;
        width: 200rem;
      }
    }

    &.bg-cover2 header:before {
      right: -20rem;
      top: 0;
    }
  }
}
