.cover-wrapper {
  padding-top: $size_30;
  position: relative;

  &.hide-quote {
    h1 {
      margin-bottom: 0;
    }

    blockquote {
      display: none;
    }
  }

  header {
    color: $dark;
    margin: 0 auto;
    max-width: $maxw;
    padding: $size_50 $size_20;
    text-align: center;
  }

  .strapline {
    @extend h3;
    margin-bottom: $size_10;
  }

  h1 {
    margin-bottom: $size_20;
  }

  blockquote {
    @include base_font(300, $font_text_mobile);
    margin: 0 auto;
    max-width: 70rem;

    footer {
      @include base_font(600, $font_small_mobile);
      letter-spacing: .4rem;
      margin-top: $size_10;
      text-transform: uppercase;
    }
  }

  .button {
    display: inline-flex;
  }

  .input-wrapper {
    &.input-search {
      margin: 0 auto $size_20;
      max-width: 40rem;
      position: relative;
      width: 100%;
    }

    input {
      border-radius: 3rem;
      padding-right: 13rem;

      &:focus,
      &:focus:hover {
        border-color: $dark;
      }

      &:hover {
        border-color: $dark;
      }
    }
  }
}


/* responsive */
@include tablet {
  .cover-wrapper {
    header {
      padding: $size_50 $size_30;
    }

    blockquote {
      @include base_font(300, $font_large_mobile);
      width: 80%;
    }

    .input-wrapper {
      input {
        padding-right: 15rem;
      }
    }
  }
}


@include desktop {
  .cover-wrapper {
    padding-top: 0;

    header {
      padding: $size_100 $size_50;
    }

    .strapline {
      margin-bottom: $size_30;
    }

    h1 {
      margin-bottom: $size_50;
    }

    blockquote {
      @include base_font(300, $font_large);

      footer {
        @include base_font(600, $font_small);
        margin-top: $size_20;
      }
    }
  }
}
