.associated-logos-wrapper {
  @extend %wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: $size_10;
  padding-top: $size_10;
  position: relative;

  &:before {
    content: '';
    background-color: $white;
    height: 100%;
    left: -50vw;
    margin-left: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  figure {
    margin: $size_10 0;
    width: 100%;
  }

  .gatsby-image-wrapper {
    max-height: 4rem;
  }

  .link-logo {
    align-items: center;
    display: inline-flex;
  }

  .logo-lae-wrapper { width: 50%; }

  .logo-pgg-wrapper { width: 25%; }

  .logo-vitalia-wrapper { width: 25%; }

  .logo-optiocc-wrapper { width: 30%; }

  .logo-opta-wrapper { width: 30%; }

  .logo-complet-wrapper { width: 30%; }
}


/* responsive */
@include tablet {
  .associated-logos-wrapper {
    padding-bottom: $size_20;
    padding-top: $size_20;

    .gatsby-image-wrapper {
      max-height: 6rem;
    }

    .logo-lae-wrapper { width: 25%; }

    .logo-pgg-wrapper {
      width: 14%;

      .gatsby-image-wrapper { max-height: 5rem; }
    }

    .logo-vitalia-wrapper { width: 14%; }

    .logo-optiocc-wrapper {
      width: 14%;

      .gatsby-image-wrapper { max-height: 5rem; }
    }

    .logo-opta-wrapper { width: 14%; }

    .logo-complet-wrapper { width: 14%; }
  }
}
