footer.bg-footer {
  @include base_font(300, 1.2);
  background-color: $dark;
  color: $white;
  position: relative;

  &:before {
    content: '';
    background-color: transparent;
    // background-image: $bg_footer_mobile;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 0;
  }

  h3 {
    margin-bottom: $size_20;
  }

  p {
    @include base_font(300, 1.2);
  }

  .footer-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $maxw;
    padding: $size_20*2 $size_20 $size_50;
    position: relative;

    .links {
      li {
        margin-bottom: $size_30/2;
      }

      a {
        color: $white;

        &:focus,
        &:hover {
          color: $purple;
        }
      }
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .contact-title {
      @include base_font(900, 1.1);
      letter-spacing: .4rem;
      margin-bottom: $size_10;
      text-transform: uppercase;
    }

    a {
      @include base_font(300, 1.5);
    }
  }

  .footer-logo {
    margin-bottom: $size_10;
    position: relative;
    width: 12rem;
  }

  .footer-links {
    margin-top: $size_30;
    max-width: calc(50% - 1rem);
  }

  .footer-social {
    margin-bottom: $size_20;

    img {
      height: 3rem;
      width: auto;
    }

    a {
      display: inline-block;
      margin: 0 $size_10 0 0;
    }
  }

  .footer-addresses {
    margin-top: $size_30;
    max-width: calc(50% - 1rem);

    p:not(:last-child) {
      margin-bottom: $size_50;
    }
  }

  .copyright {
    @include base_font(300, .8);
    margin-bottom: $size_20;
  }
}


/* footer overrides */
footer {
  button, .button {
  }
}


/* responsive */
@include tablet {
  footer.bg-footer {
    &:before {
      // background-image: $bg_footer;
      background-position: top left;
      height: 100%;
      left: -50rem;
      margin: 0 auto;
      max-width: 120rem;
      right: -100rem;
      top: 0;
    }

    .footer-contacts {
      width: 30%;
    }
  }
}


@include desktop {
  footer.bg-footer {
    @include base_font(300, 1.5);

    &:before {
      left: -60rem;
      right: -120rem;
    }

    h3 {
      margin-bottom: $size_30;
    }

    p {
      @include base_font(300, 1.5);
    }

    .footer-wrapper {
      flex-wrap: wrap;
      padding: $size_30*2 $size_20 $size_100;

      .links {
        li {
          margin-bottom: $size_20;
        }
      }
    }

    .footer-contacts {
      width: 40%;

      .contact-title {
        @include base_font(900, 1.5);
      }

      a {
        @include base_font(300, 2.2);
      }
    }

    .footer-logo {
      margin-bottom: $size_20;
      width: 25rem;
    }

    .footer-links,
    .footer-addresses {
      margin-top: $size_30*2;
      width: 25%;
    }

    .footer-social {
      margin-bottom: $size_30;

      img {
        height: 4rem;
      }

      a {
        margin: 0 $size_30/2 0 0;
      }
    }

    .copyright {
      @include base_font(300, 1);
      margin-bottom: $size_30;
    }
  }
}


@include hd {
  footer.bg-footer {
    &:before {
      left: -40rem;
      right: -120rem;
    }
  }
}
