.form-full-wrapper {
  margin: $size_20*3 auto $size_20*2;
  max-width: 70rem;
}


.form-wrapper {
  .info-mandatory {
    margin-left: $size_10;
  }
}


/* responsive */
@include tablet {
  .form-full-wrapper {
    margin: $size_20*4 auto $size_20*3;
  }


  .form-wrapper {
    .info-mandatory {
      margin-left: $size_20;
    }

    .form-cols {
      display: flex;

      .input-wrapper {
        width: 50%;

        &:first-child {
          margin-right: $size_10;
        }
      }
    }
  }
}


@include desktop {
  .form-full-wrapper {
    margin: $size_100 auto;
  }
}
