header {
  position: relative;
  z-index: 1;

  &.header-menu {
    min-height: .1rem;
    z-index: 8;
  }

  .header-wrapper {

  }
}


/* responsive */
@include desktop {
  header {
    &.header-menu {
      background-color: $white;
      box-shadow: rgba($black, .25) 0 .3rem 2rem;
    }

    .header-wrapper {
    }
  }
}
