/* top navbar */
.nav-wrapper {
  @include base_font(600, $font_small);

  a {
    color: $dark;
    margin: $size_10 0;
    padding: $size_10 0;

    &:focus,
    &:hover {
      color: $purple;
    }

    &:last-child {
      @extend .button;
      display: inline-flex;
      font-size: 95%;
    }
  }

  .burgermenu,
  .closemenu {
    @include transition(0);
    background-color: transparent;
    background-image: $burgermenu;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1rem;
    height: 3rem;
    left: 1rem;
    position: absolute;
    text-indent: -9999rem;
    top: 1rem;
    width: 3rem;
    z-index: 1;

    &:focus,
    &:hover {
      background-color: transparent;
    }
  }

  .closemenu {
    background-image: $closemenu;
  }

  .nav-menu {
    @include transition(300);
    align-items: flex-start;
    background-color: $white;
    box-shadow: rgba($black, .25) 0 .3rem 2rem;
    flex-direction: column;
    height: 100%;
    left: -100%;
    max-height: 100vh;
    max-width: 35rem;
    overflow: auto;
    padding: $size_20*3 $size_20 $size_20;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1;

    &.active {
      left: 0;
    }
  }

  .nav-logo {
    display: inline-block;
    margin-bottom: $size_20;
    width: 18rem;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
  }
}


/* responsive */
@include desktop {
  .nav-wrapper {
    a {
      margin: 0 0 0 $size_20;
      padding: 0;
    }

    .burgermenu,
    .closemenu {
      display: none;
    }

    .nav-menu {
      align-items: center;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      left: 0;
      max-width: #{$maxw + $size_20*10};
      margin: 0 auto;
      min-height: 8rem;
      padding: $size_20;
      position: relative;
      width: 100%;
    }

    .nav-logo {
      margin: 0;
    }

    .menu-wrapper {
      display: block;
    }
  }
}
