.clinic-wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: $size_30;

  .gallery-wrapper {
    flex: 1;
    min-width: 0;
    position: relative;

    .gatsby-image-wrapper {
      height: 22rem;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $size_10 $size_20 $size_20;
    text-align: center;

    button, .button {
      @include base_font(600, 1.2);
      display: inline-flex;
      margin-top: $size_10;
      min-height: 3rem;
      padding: 0 $size_30;
    }
  }

  .clinic-name {
    margin-bottom: $size_10;
  }

  .clinic-phone {
    align-items: center;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $size_20;

    &:focus,
    &:hover {
      color: $purple;
    }

    figure {
      height: 3rem;
      margin: 0 0 $size_10 0;
      width: 3rem;
    }
  }
}


/* responsive */
@include tablet {
  .clinic-wrapper {
    .gallery-wrapper {
      .gatsby-image-wrapper {
        height: 40rem;
      }
    }
  }
}


@include desktop {
  .clinic-wrapper {
    flex-direction: row;
    height: 50rem;
    margin-bottom: $size_100;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .gallery-wrapper {
      .gatsby-image-wrapper {
        height: 50rem;
      }
    }

    .info-wrapper {
      min-width: 35rem;
      padding: $size_20 $size_30;
      text-align: left;
      width: 30%;

      button, .button {
        @include base_font(600, 1.8);
        margin-top: $size_30;
        min-height: 4rem;
      }
    }

    .clinic-name {
      margin-bottom: $size_30/2;
    }

    .clinic-phone {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: $size_20;

      figure {
        height: 3.5rem;
        margin: 0 $size_30/2 0 0;
        width: 3.5rem;
      }
    }
  }

  .clinic-reverse .clinic-wrapper {
    flex-direction: row-reverse;
  }
}
