.modal-content {
  .press-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    .press-clipping {
      position: relative;
      margin: 0 auto;
      max-width: 20rem;
      width: 100%;

      &:after {
        @include base_font(600, 1);
        content: attr(data-cta);
        background-color: rgba($dark, .4);
        bottom: 0;
        color: $white;
        left: 0;
        letter-spacing: .3rem;
        padding: $size_10;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      &:focus,
      &:hover {
        opacity: .7;
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: $size_30;
    }
  }
}


/* responsive */
@include tablet {
  .modal-content {
    .press-wrapper {
      .press-clipping {
        max-width: 25rem;

        .gatsby-image-wrapper {
          height: 100%;
          max-height: 40rem;
          min-height: 30rem;
        }
      }
    }
  }
}


@include desktop {
  .modal-content {
    .press-wrapper {
      flex-direction: row;

      .press-clipping {
        max-width: 30rem;
        width: 35%;
      }

      .info-wrapper {
        margin-top: 0;
        padding-left: $size_50;
        width: 65%;
      }
    }
  }
}
