.press-short-wrapper {
  padding: $size_50 0;

  .title-wrapper {
    margin-bottom: $size_10;
  }

  .paragraph-wrapper {
    margin: 0 auto $size_30;
    max-width: 50rem;
  }

  .cta-wrapper {
    text-align: center;
  }
}


.press-group-wrapper {
  margin-bottom: $size_100;

  button, .button {
    margin: 0 auto;
    padding: 0 $size_50;
    position: relative;

    &:before {
      content: '';
      background-color: $white;
      height: 1rem;
      position: absolute;
      top: -3.5rem;
      width: 100vw;
    }
  }

  .press-wrapper {
    width: 100%;

    &.not-spotlight {
      .press-image,
      .tags-wrapper {
        display: block;
      }

      .btn-see-more {
        display: inline-block;
      }

      .photo-wrapper {
        .gatsby-image-wrapper {
          > div {
            padding-bottom: 100% !important;
          }
        }
      }
    }
  }
}


.press-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 3rem;
  width: 100%;

  &.not-spotlight {
    border-bottom: .1rem solid rgba($dark, .1);
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3rem;

    .press-image,
    .tags-wrapper,
    .btn-see-more {
      display: none;
    }

    .press-content {
      flex: 1;
    }
  }

  &.spotlight {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;

    .press-image {
      position: relative;
    }

    .photo-wrapper {
      max-height: 20rem;
      max-width: 100%;

      &:before {
        content: '';
        background-color: rgba($dark, .5);
        border-radius: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      .gatsby-image-wrapper {
        border-radius: 0;
        max-height: 20rem;
      }
    }

    .cta-image {
      max-width: 100%;

      .photo-wrapper:before {
        border-radius: 0;
      }

      &:after {
        height: 4rem;
        left: calc(50% - 2rem);
        top: calc(50% - 2rem);
        width: 4rem;
      }
    }

    .title {
      @include base_font(500, $font_h4_mobile/2);
      bottom: 2rem;
      color: $white;
      left: 2rem;
      margin: 0;
      max-width: 45rem;
      position: absolute;
      width: 55%;
      z-index: 1;
    }
  }

  .photo-wrapper {
    max-width: 10rem;
    position: relative;

    .gatsby-image-wrapper {
      border-radius: 50%;
    }
  }

  .press-image {
    margin: 0 1rem 2rem 0;
    min-width: 10rem;
  }

  .tags-wrapper {
    @include base_font(600, 1);
    color: $purple_60;
    letter-spacing: .3rem;
    margin: $size_10/2 0;
    text-transform: uppercase;
  }

  .date {
    @include base_font(600, $font_small_mobile);
    letter-spacing: .3rem;
    margin-bottom: $size_10;
    text-transform: uppercase;
  }

  .title {
    @include base_font(500, $font_small);
    margin-bottom: $size_10;
  }

  p {
    @include base_font(300, $font_text_mobile);
  }

  .cta-image {
    display: block;
    position: relative;

    &:after {
      content: '';
      background-color: transparent;
      // background-image: $icon_play;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 4rem;
      left: calc(50% - 2rem);
      position: absolute;
      top: calc(50% - 2rem);
      width: 4rem;
      z-index: 1;
    }

    .photo-wrapper:before {
      content: '';
      background-color: rgba($purple, .7);
      border-radius: 50%;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .btn-see-more {
    @include base_font(900, $font_small_mobile);
    align-self: flex-start;
    background-color: transparent;
    border-radius: 0;
    color: $purple;
    display: inline-block;
    letter-spacing: .3rem;
    margin: $size_10 0 0 0;
    min-height: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;

    &:focus,
    &:hover {
      background-color: transparent;
      color: $purple_60;
    }
  }
}


/* responsive */
@include tablet {
  .press-short-wrapper {
    padding: $size_30*2 0;

    .title-wrapper {
      margin-bottom: $size_20;
    }

    .paragraph-wrapper {
      margin: 0 auto $size_50;
    }
  }


  .press-group-wrapper {
    button, .button {
      &:before {
        content: none;
      }
    }

    .press-wrapper {
      &.not-spotlight {
        width: calc(50% - 4rem);
      }
    }
  }


  .press-wrapper {
    margin: 0 2rem 5rem;
    width: calc(50% - 4rem);

    &.not-spotlight {
      border-bottom: 0;
      flex-direction: column;
      padding-bottom: 0;
    }

    &.spotlight {
      margin: 0 0 5rem 0;

      .photo-wrapper {
        max-height: 40rem;

        .gatsby-image-wrapper {
          max-height: 40rem;
        }
      }

      .cta-image {
        &:after {
          height: 6rem;
          left: calc(50% - 3rem);
          top: calc(50% - 3rem);
          width: 6rem;
        }
      }

      .title {
        @include base_font(500, $font_h4_mobile);
        bottom: 4rem;
        left: 5rem;
      }
    }

    .photo-wrapper {
      margin: 0 auto;
      max-width: 25rem;
    }

    .press-image {
      margin: 0 0 $size_30 0;
      min-width: 100%
    }

    .tags-wrapper {
      margin: 0 0 $size_30/2 0;
    }

    .date {
      @include base_font(600, $font_small);
      letter-spacing: .4rem;
      margin-bottom: $size_30/2;
    }

    .title {
      @include base_font(500, 2.2);
      margin-bottom: $size_30/2;
    }

    p {
      @include base_font(300, $font_small);
    }

    .cta-image {
      &:after {
        height: 6rem;
        left: calc(50% - 3rem);
        top: calc(50% - 3rem);
        width: 6rem;
      }
    }
  }
}


@include desktop {
  .press-short-wrapper {
    padding: $size_100 0;

    .press-wrapper {
      margin: 0 2rem 5rem;
    }
  }


  .press-group-wrapper {
    .press-wrapper {
      &.not-spotlight {
        width: calc(100%/3 - 12rem/3);
      }
    }
  }


  .press-wrapper {
    margin: 0 2rem 8rem;

    &.spotlight {
      margin: 0 0 8rem 0;

      .photo-wrapper {
        max-height: 60rem;

        .gatsby-image-wrapper {
          max-height: 60rem;
        }
      }

      .cta-image {
        &:after {
          height: 8rem;
          left: calc(50% - 4rem);
          top: calc(50% - 4rem);
          width: 8rem;
        }
      }

      .title {
        @include base_font(500, 3.5);
        bottom: 6rem;
        left: 8rem;
      }
    }
  }
}
