.is-searching {
  &.no-results {
    .cover-wrapper:after {
      @extend h4;
      @extend .content-wrapper;
      content: attr(data-no-results);
      display: block;
      font-style: italic;
      margin-top: $size_100;
    }
  }

  .accordion-group,
  .accordion-wrapper {
    &:not(.active) {
      display: none;
    }
  }
}
