.tabs-wrapper {
  align-items: center;
  display: none;
  justify-content: center;
  margin: $size_30 0;
  padding: $size_20 $size_10;
}


.jump-tab {
  @include base_font(600, $font_small_mobile);
  color: $purple_60;
  letter-spacing: .4rem;
  margin: 0 $size_20;
  position: relative;
  text-transform: uppercase;

  &:after {
    @include transition();
    content: '';
    background-color: transparent;
    bottom: -.7rem;
    height: .2rem;
    left: .5rem;
    position: absolute;
    width: calc(100% - 1.5rem);
  }

  &:focus,
  &:hover {
    color: $purple;

    &:after {
      background-color: $purple_60;
    }
  }
}


/* responsive */
@include tablet {
  .tabs-wrapper {
    display: flex;
  }
}


@include desktop {
  .tabs-wrapper {
    margin: $size_50 0;
    padding: $size_30 $size_10;
  }


  .jump-tab {
    @include base_font(600, $font_small);
  }
}
