.modal-content {
  .profile-wrapper {
    display: flex;
    flex-direction: column;

    .photo-wrapper {
      margin: 0 auto;
      max-width: 20rem;
      width: 100%;

      .gatsby-image-wrapper {
        border-radius: 50%;
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: $size_30;

      .info-profile {
        margin-top: $size_30;
      }

      .button {
        display: inline-flex;
        margin: $size_30 auto $size_20;
      }
    }
  }
}


/* responsive */
@include tablet {
  .modal-content {
    .profile-wrapper {
      .photo-wrapper {
        max-width: 25rem;
      }
    }
  }
}


@include desktop {
  .modal-content {
    .profile-wrapper {
      flex-direction: row;

      .photo-wrapper {
        max-width: 30rem;
        width: 35%;

        .gatsby-image-wrapper {
          border-radius: 0;
          height: 100%;
          max-height: 40rem;
          min-height: 30rem;
        }
      }

      .info-wrapper {
        margin-top: 0;
        padding-left: $size_50;
        width: 65%;

        .info-profile {
          margin-top: $size_50;
        }

        .button {
          align-self: flex-start;
          margin: $size_50 0 0 0;
        }
      }
    }
  }
}


@include under-desktop {
  .modal-content {
    .photo-wrapper {
      .gatsby-image-wrapper {
        > div {
          padding-bottom: 100% !important;
        }
      }
    }
  }
}

