.team-photos-only {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;

  .team-member-wrapper {
    width: calc(33% - (6rem/3));

    .photo-wrapper {
      left: 0;
      width: 100%;
    }

    .info-wrapper {
      display: none;
    }
  }
}


.team-intro-wrapper {
  margin-bottom: 0;
  text-align: center;
}


.team-members {
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: $size_50;
  }
}

.team-member-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 $size_10 $size_20 0;
  width: calc(50% - (#{$size_10}/2));

  &:nth-child(2n) {
    margin: 0 0 $size_20 0;
  }

  &.spotlight {
    width: 100%;

    .photo-wrapper {
      border: $size_30/2 solid $dark;
      border-radius: 50%;
      left: 0;
      margin: 0 auto;
      max-width: 20rem;
      width: 100%;
    }

    .info-wrapper {
      box-shadow: none;
      padding: 50% 0 0 0;

      .name {
        @include base_font(600, $font_small_mobile);
        letter-spacing: .4rem;
        margin-top: $size_20;
      }

      .btn-profile {
        margin: $size_20 0 0 0;

        figure {
          margin: 0 $size_10 0 0;
        }
      }
    }

    .icon-profile {
      width: 4rem;
    }
  }

  .photo-wrapper {
    left: 1rem;
    position: relative;
    width: calc(100% - #{$size_20});
    z-index: 1;

    .gatsby-image-wrapper {
      border-radius: 50%;

      >div {
        padding-bottom: 100% !important;
      }
    }
  }

  .info-wrapper {
    @include base_font();
    align-items: center;
    border-radius: $radius/2;
    box-shadow: rgba($black, .25) 0 0 .5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(#{$size_10} - 50%);
    padding: 50% $size_10 $size_10;
    text-align: center;

    .name {
      @include base_font(600, $font_small_mobile);
      @include base_font(600, 1);
      letter-spacing: .3rem;
      margin-bottom: $size_10/2;
      text-transform: uppercase;
    }
  }

  .btn-profile {
    @include base_font(600, $font_text_mobile);
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    margin: $size_10/2 auto 0;
    padding: 0;

    figure {
      @include transition();
      margin: 0 auto;
      opacity: 1;
      width: 2rem;
    }

    &:focus,
    &:hover {
      &:not(:disabled) {
        background-color: transparent;
        color: $purple;

        figure {
          opacity: .7;
        }
      }
    }
  }
}


/* responsive */
@include tablet {
  .team-intro-wrapper {
    text-align-last: left;
  }


  .team-member-wrapper {
    width: calc(33% - (#{$size_20}/3));

    &:nth-child(2n) {
      margin: 0 $size_10 $size_20 0;
    }

    &:nth-child(3n) {
      margin: 0 0 $size_20 0;
    }

    &.spotlight {
      flex-direction: row;

      .photo-wrapper {
        border: 0;
        border-radius: 0;
        left: 0;
        margin: auto;
        max-width: 45rem;
        width: 35%;
      }

      .info-wrapper {
        align-items: flex-start;
        margin-top: 0;
        padding: $size_30 0 0 $size_30*2;
        text-align: left;
        width: 65%;

        .name {
          @include base_font(600, $font_text_mobile);
          letter-spacing: .5rem;
          margin-top: 0;
        }

        .btn-profile {
          margin: $size_30 0 0 0;

          figure {
            margin: 0 $size_20 0 0;
          }
        }
      }
    }

    .photo-wrapper {
      left: $size_30/2;
      width: calc(100% - #{$size_30});
    }

    .info-wrapper {
      border-radius: $radius;
      margin-top: calc(#{$size_20} - 50%);
      padding: 50% $size_20 $size_20;

      .name {
        @include base_font(600, $font_small_mobile);
        letter-spacing: .5rem;
        margin-bottom: $size_10;
      }
    }

    .btn-profile {
      @include base_font(600, 1.8);
      margin: $size_10 auto 0;

      figure {
        width: 3rem;
      }
    }
  }
}


@include desktop {
  .team-member-wrapper {
    margin: 0 $size_20 $size_20*2 0;
    width: calc(25% - (#{$size_20*3}/4));

    &:nth-child(2n),
    &:nth-child(3n) {
      margin: 0 $size_20 $size_20*2 0;
    }

    &:nth-child(4n) {
      margin: 0 0 $size_20*2 0;
    }

    &.spotlight {
      .photo-wrapper {
        margin: 0;
        width: 40%;
      }

      .info-wrapper {
        padding: $size_50 0 0 $size_100;
        width: 60%;

        .name {
          @include base_font(600, $font_text);
        }
      }
    }

    .info-wrapper {
      box-shadow: rgba($black, .25) 0 0 $size_10;

      .name {
        @include base_font(600, $font_small);
      }
    }
  }
}
