/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/
html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

html {
  /* base font-size is at reset.scss */
  // @include phablet { @include retina(1.3) { font-size: 80%; } }
  // @include tablet  { @include retina(1.5) { font-size: 90%; } }
  // @include desktop { @include retina(2)   { font-size: 100%; } }
}

body {
  @include base_font();
  background-color: $white;
  color: $dark;
  font-style: normal;
}
