.btn-search {
  min-height: 3rem;
  padding: 0 1rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 8rem;
}


/* responsive */
@include tablet {
  .btn-search {
    min-height: 4rem;
    width: 10rem;
  }
}
