/* Default button */
button, .button {
  @include base_font(600, $font_small_mobile);
  @include transition();
  align-items: center;
  background-color: $purple;
  border-radius: $size_30;
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 4rem;
  padding: 0 $size_20;
  white-space: nowrap;

  &:focus,
  &:hover {
    &:not(:disabled) {
      background-color: $dark;
      color: $white;
    }
  }

  &:disabled {
    cursor: default;
    opacity: .3;
  }
}


/* responsive */
@include tablet {
  button, .button {
    @include base_font(600, $font_small);
  }
}
