.btn-clear-search {
  background-color: $dark_30;
  min-height: 3rem;
  padding: 0;
  position: absolute;
  text-indent: -9999rem;
  right: 9rem;
  top: .5rem;
  width: 3rem;

  &:before,
  &:after {
    content: '';
    background-color: $white;
    height: .2rem;
    position: absolute;
    transform: rotate(45deg);
    width: 1.6rem;
  }

  &:after {
    transform: rotate(-45deg);
  }
}


/* responsive */
@include tablet {
  .btn-clear-search {
    right: 11rem;
    top: 1rem;
  }
}
