.btn-help {
  @include base_font(300, 1);
  align-items: center;
  bottom: $size_30;
  color: $white;
  display: flex;
  letter-spacing: .2rem;
  position: absolute;
  right: $size_20;
  text-transform: uppercase;

  &:after {
    content: '';
    // background-image: $btn_help;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3rem;
    margin-left: $size_10;
    width: 3rem;
  }
}


/* responsive */
@include tablet {
  .btn-help {
    @include base_font(300, $font_small);
    bottom: $size_50;
    right: $size_50;

    &:after {
      height: 4rem;
      margin-left: $size_20;
      width: 4rem;
    }
  }
}
