.cta-wrapper {
  a {
    @include base_font(600, $font_small);
    display: inline-flex;
  }
}


/* responsive */
@include desktop {
  .cta-wrapper {
    a {
      @include base_font(600, $font_text);
    }

    .pretty {
      padding: 0 2rem 0 0;
      position: relative;

      &:after {
        @include transition();
        content: '';
        background-image: $icon_link;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1.2rem;
        pointer-events: none;
        position: absolute;
        top: calc(50% - .6rem);
        right: .5rem;
        width: .7rem;
      }
    }
  }
}
