h1, h2, h3 {
  // word-break: break-word;
  // overflow-wrap: break-word; // for browsers that do not support hyphens
  // hyphens: auto;
}

h1 {
  @include base_font(500, $font_h1_mobile/2);
}

h2 {
  @include base_font(500, $font_h2_mobile/2);
}

h3 {
  @include base_font(600, $font_h3_mobile/2);
  letter-spacing: .4rem;
  text-transform: uppercase;
}

h4 {
  @include base_font(500, $font_h3_mobile);
}


/* responsive */
@include tablet {
  h1 {
    @include base_font(500, $font_h1_mobile);
  }

  h2 {
    @include base_font(500, $font_h2_mobile);
  }

  h3 {
    @include base_font(600, $font_h3_mobile);
  }

  h4 {
    @include base_font(500, $font_h4_mobile);
  }
}


@include desktop {
  h1 {
    @include base_font(500, $font_h1);
  }

  h2 {
    @include base_font(500, $font_h2);
  }

  h3 {
    @include base_font(600, $font_h3);
    letter-spacing: .6rem;
  }

  h4 {
    @include base_font(500, $font_h4);
  }
}
