figure {
  max-width: 100%;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    @include base_font(500, $font_small, $font_small);
    color: $dark;
    margin-top: $size_10;
  }

  &.center-image {
    .image-wrapper {
      left: 50%;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

img {
  max-width: 100%;
}
