.input-consent {
  display: flex;

  input[type=checkbox] {
    @include transition();
    background-color: $white;
    border: .1rem solid rgba($dark, .1);
    border-radius: $radius/4;
    cursor: pointer;
    height: 2.6rem;
    min-height: 2.6rem;
    min-width: 2.6rem;
    position: relative;
    width: 2.6rem;

    &:focus,
    &:focus:hover {
      border-color: $purple;
      outline: none;
    }

    &:hover {
      border-color: $purple;
    }

    &:checked {
      background-color: $purple;

      &:after {
        content: '';
        border-color: $white;
        border-style: solid;
        border-width: 0 .2rem .2rem 0;
        height: 1.4rem;
        left: calc(50% - .4rem);
        position: absolute;
        top: calc(50% - .9rem);
        transform: rotate(45deg);
        width: .8rem;
      }
    }
  }
}
