.input-wrapper {
  margin-bottom: $size_30/2;

  input,
  select,
  textarea {
    @include base_font(300, $font_small);
    @include transition();
    background-color: $white;
    border: .1rem solid rgba($dark, .1);
    border-radius: $radius/2;
    color: $dark;
    height: 4rem;
    padding: 0 $size_10;
    width: 100%;

    &:focus,
    &:focus:hover {
      border-color: $purple;
      outline: none;
    }

    &:hover {
      border-color: $purple;
    }
  }

  select {
    background-image: $dropdown;
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-right: 3rem;
    position: relative;
  }

  textarea {
    height: 10rem;
    padding: $size_10/2 $size_10;
  }

  label {
    @include base_font(600, 1);
    display: inline-block;
    letter-spacing: .1rem;
    margin-bottom: $size_10/2;
    padding-left: $size_10;
    text-transform: uppercase;
  }
}

::-webkit-input-placeholder { color: $dark_30; font-style: italic; }
::-moz-placeholder { color: $dark_30; font-style: italic; }
:-ms-input-placeholder { color: $dark_30; font-style: italic; }
:-moz-placeholder { color: $dark_30; font-style: italic; }


/* responsive */
@include tablet {
  .input-wrapper {
    margin-bottom: $size_20;

    input,
    select,
    textarea {
      height: 5rem;
      padding: 0 $size_20;
    }

    select {
      background-size: 1.3rem;
      padding-right: 4rem;
    }

    textarea {
      height: 12rem;
      padding: $size_10 $size_20;
    }

    label {
      @include base_font(600, $font_small_mobile);
      letter-spacing: .2rem;
      padding-left: $size_20;
    }
  }
}
