.modal-wrapper {
  background-color: $white;
  left: 50%;
  max-height: 90vh;
  max-width: 90vw;
  outline: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $maxw - $size_20;

  .modal-title {
    margin: $size_20 0 $size_20*2;
    text-align: center;
  }

  .modal-content {
    height: 100%;
    max-height: 90vh;
    overflow: auto;
    padding: $size_20;
    position: relative;
  }

  .btn-closemodal {
    background-color: $white;
    border-radius: 50%;
    padding: $size_10;
    position: absolute;
    right: $size_10;
    top: $size_10;
    z-index: 1;

    &:focus,
    &:hover {
      &:not(:disabled) {
        background-color: rgba($dark, .1);
      }
    }

    figure {
      width: 2rem;
    }
  }
}


.ReactModalPortal {
  .ReactModal__Overlay {
    background-color: rgba($black, .4) !important;
    z-index: 99;
  }
}


/* responsive */
@include tablet {
  .modal-wrapper {
    width: $maxw - $size_30;

    .modal-content {
      padding: $size_30;

      .modal-title {
        margin: $size_30 0 $size_30*2;
        text-align: center;
      }
    }

    .btn-closemodal {
      padding: $size_20;
      right: $size_20;
      top: $size_20;
    }
  }
}


@include desktop {
  .modal-wrapper {
    width: $maxw - $size_50;

    .modal-content {
      padding: $size_50;
    }

    .btn-closemodal {
      right: $size_30;
      top: $size_30;
    }
  }
}


/* prevent body scroll when lightbox is open */
.html-no-scroll {
  height: 100vh;
  overflow: hidden;
}
