.brand-logo {
  background-color: transparent;
  // background-image: $logo;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 5rem;
  width: 13rem;
}


/* responsive */
@include desktop {
  .brand-logo {
    height: 7rem;
    width: 18rem;
  }
}
