p {
  @include base_font(300, $font_text_mobile);

  + p {
    margin-top: $size_10;
  }
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s, del {
  text-transform: line-through;
}

sub {
  font-size: 50%;
  vertical-align: sub;
}

sup {
  font-size: 50%;
  vertical-align: super;
}

span {
  display: inline-block;
}

.large {
  font-size: #{$font_large_mobile}rem;
  line-height: #{$font_large_mobile + 0.4}rem;
}

.small {
  font-size: #{$font_small_mobile}rem;
  line-height: #{$font_small_mobile + 0.2}rem;
}

.x-small {
  font-size: 75%;
}

.muted {
  color: $dark_60;
}


/* responsive */
@include tablet {
  p {
    @include base_font(300, $font_h3_mobile);
  }

  .large {
    font-size: #{$font_large}rem;
    line-height: #{$font_large + 0.4}rem;
  }

  .small {
    font-size: #{$font_small}rem;
    line-height: #{$font_small + 0.2}rem;
  }
}


@include desktop {
  p {
    @include base_font(300, $font_text);

    + p {
      margin-top: $size_20;
    }
  }
}
