.video-wrapper {
  position: relative;

  &:after {
    content: '';
    background-color: transparent;
    // background-image: $video_play;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 3rem;
    height: 6rem;
    pointer-events: none;
    position: absolute;
    right: 3rem;
    width: 6rem;
  }
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */

  .react-player {
    left: 0;
    position: absolute;
    top: 0;
  }
}
